#red{background-color:red;}
#green{background-color:green;}
#black{background-color:black;}
.wwyr-item{position:relative;padding:15px 10px 5px;margin:50px 0px 0px;text-align:center;color:#fff;background:#333;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;}
.wwyr{color:white;}
.wwyr-opt-left{position:relative;text-align:center;margin:10px 60px 10px 30px;padding:10px 10px 0px;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;}
.wwyr-opt-right{position:relative;text-align:center;margin:10px 60px 10px 80px;padding:10px 10px 0px;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;}
.pinched{position:relative;padding:15px;margin:50px 0 3em;text-align:center;color:#fff;background:#333;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;}
